@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --txt-color-white: white;
    --bg-green: #3b692e;
    --bg-gray: rgb(1, 110, 34);
}
body {
    font-size:20px;
}
select{
    font-size:20px;
}
option{
    font-size:20px;
    text-align: start;
    padding: 20px;
}
label{
    margin-right: 4px;
}
h2 {
    margin-left: 15px;
    font-size: 25px;
}
.margin10{
    margin-top:10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}
.pad10{
    padding: 10px;
}
.border-none{
    border:none;
}
.zero-padding{
    padding: 0px;
}
#work_obl {
    margin: 0px 20px 0px 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
        -23px 0 20px -23px rgba(0, 0, 0, .8),
        23px 0 20px -23px rgba(0, 0, 0, .8),
        0 0 40px rgba(0, 0, 0, .1) inset;
    min-height: 900px;
}
.list-group-item{
    padding:1px;
    text-align:center;
}
.list-group{
    margin-top:20px;    
}

.tx-white {
    color: var(--bs-navbar-active-color);
}

.bg-green {
    background-color: var(--bg-green)
}
.bg-gray{
    background-color: var(--bg-gray)
}
.ul-bg-gray > li{
    background-color: var(--bg-green);
    color: var(--txt-color-white)
}
.nav-pills .nav-link.active {
    background-color: var(--bg-green);
    color: var(--txt-color-white);
}

.nav-pills .nav-link {
    border-radius: 0px;
    color: var(--bg-green);
}

a {
    color: var(--txt-color-white);
}

a:hover {
    color: var(--txt-color-white);
}


.accordion-button:focus {
    border-color: var(--bg-green);
    box-shadow: var(--bg-green);
}

.accordion-button:not(.collapsed) {
    color: var(--bg-green);
    background-color: var(--bs-gray-300);
}

button {
    background-color: none;
}

.journal {
    margin: 10px;
}

#journal_form {
    margin-top: 20px;
}

#header_form {
    margin-left: 10px;
}

select {
    border: none;
    padding-left: 0px;
    outline: none;
}

select:hover {
    border-color: var(--bg-green);
}

input {
    border-color: var(--bg-green);
    outline: none;
}

option:checked {
    color: black;
}

#header_form_journal {
    align-items: center;
}

.rating_input {
    padding: 0;
    width: 100%;
    height: 40px;
    text-align: center;
}

.null_padding {
    padding: 0px;
}

#alertblock {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.fade:not(.show) {
    opacity: 0;
    display: none;
}

#v-pills-groupsList {
    width: 100%;
}

.scroll_journal {
    width: 100%;
    display: flex;
    justify-content: center
}

.bg-green {
    background-color: var(--bg-green);
    color: aliceblue;
}

.border-green {
    border-color: var(--bg-green);
}

.nav-pills .nav-link.active {
    background-color: var(--bg-green);
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
}

.scroll {
    overflow-y: scroll;
    height: 200px;
}

.tablestat {
    flex-direction: column;
    height: 300px;
    overflow-y: scroll;
}

.mg-5 {
    margin: 5px;
}

.nonescroll {
    overflow: hidden;
}

.row {
    margin: 0;
}

.hourstableheader {
    margin-right: 17px;
}

#loginhref {
    background-color: var(--bg-green);
    width: 40%;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
    margin-top: 30px;
}

.slogan {
    font-size: 30px;
}
.file > a{
    color: var(--bg-green);
}
* {
    scrollbar-width: thin;
    scrollbar-color: #fff var(--bg-green);
}

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
    height: 12px;
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #fff;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--bg-green);
    border-radius: 5px;
    border: 3px solid #fff;
}
#journal_table{
    margin-bottom:40px;
}
#journal_table > ul {
    margin-top:0px;
}
.paddingnull{
    padding:0;  
}


@media screen and (max-width: 1200px) {
    body {
        font-size:15px;
    }
    select{
        font-size:15px;
    }
    option{
        font-size:15px;
    }
    .scroll_journal_content {
        width: 1100px;
    }

    .scroll_journal {
        overflow-x: scroll;
        display: block;
    }

    #work_obl {
        margin: 0;
        box-shadow: none;
        min-height: 400px;
    }

    

    #loginhref {
        width: 80%;
    }

    .slogan {
        font-size: 15px;
    }
    
}

@media screen and (max-width: 1000px) {
    #header_form_journal {
        flex-direction: column;
        align-items: start;
    }

    select {
        width: 100%;
    }
}

@media screen and (max-width:600px) {}